.modal-content {
    display: none;
}

.modal-content-edit {
    display: none;
}

a.category, a.task {
    padding: 10px;
    border: 1px solid #545b62;
    background: red;
    color: yellow;
    margin-left: 10px;
}
